UnitTests/obj/
*.pdb
FixInitiator/obj/
FixInitiator/bin/Debug/GATUtils.dll
FixInitiator/bin/Debug/GloabalAuditTrail.exe
FixInitiator/bin/Debug/GloabalAuditTrail.vshost.exe
FixInitiator/bin/Debug/GloabalAuditTrail.vshost.exe.config
FixInitiator/bin/Debug/GloabalAuditTrail.exe.config
GATInterface/bin/Debug/GATInterface.exe
GATInterface/bin/Debug/GATInterface.exe.config
GATInterface/bin/Debug/GATInterface.vshost.exe
GATInterface/bin/Debug/GATInterface.vshost.exe.config
GATInterface/obj/
GATUtils/bin/Debug/GATUtils.dll
GATUtils/obj/
*.suo
ReportsFactory/obj/
UnitTests/bin/Debug/GATInterface.exe
UnitTests/bin/Debug/GloabalAuditTrail.exe
ReportsFactory/bin/Debug/ReportsFactory.exe
ReportsFactory/bin/Debug/ReportsFactory.exe.config
UnitTests/bin/Debug/GATUtils.dll
UnitTests/bin/Debug/ReportsFactory.exe
