<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="firmtrailEntities" connectionString="metadata=res://*/GATInterface.Model1.csdl|res://*/GATInterface.Model1.ssdl|res://*/GATInterface.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=kevin;password=testing123;persistsecurityinfo=True;Convert Zero Datetime=True;database=firmtrail&quot;" providerName="System.Data.EntityClient" />
    <add name="firmtrailEntities1" connectionString="metadata=res://*/FirmModel.FirmTrailModel.csdl|res://*/FirmModel.FirmTrailModel.ssdl|res://*/FirmModel.FirmTrailModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=testing123;database=firmtrail;Convert Zero Datetime=True;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>